<mat-card class="example-card">
    <button mat-button (click) = switchMode() >switch mode</button>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>

  </mat-card-header>
  <img mat-card-image src={{recipe.picture}} alt= {{recipe.name}}>
  <mat-card-content>

      <div *ngFor="let ingredient of recipe.ingredients">

        <p>
            {{ingredient.name}}
          </p>
      </div>
      <!-- <div *ngFor="let instrcution of recipe.instructions | strToArray">
          <p>
            {{instrcution}}
          </p>
      </div> -->
    <p *ngIf="show">
      {{recipe.description}}
    </p>
  </mat-card-content>

  <mat-card-actions >
      <div *ngIf="listMode">
        <button mat-button (click)=showDescription() [ngPlural]="show">
          <ng-template ngPluralCase= "=false">Expand</ng-template>
          <ng-template ngPluralCase= "=true">Collapse</ng-template>
          </button>

        <button mat-button routerLink="/recipe/{{recipe.id}}" >show details</button>
  </div>
  </mat-card-actions>
</mat-card>
